<a href="https://colab.research.google.com/github/Snguyennn/Sophielise/blob/main/homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DX 602 Week 2 Homework

## Introduction

Practice is a large part of becoming fluent in a programming language.
In this module, you will be assigned regular coding homework to practice Python.
If these problems seem too easy to you, try to answer them faster, and make sure to check the auto-grader feedback to confirm the correctness of your answers.
Like with spoken languages, fluency (speed) is highly correlated with proficiency.
But it is important to answer the problems correctly first, then quickly.

### Submission

To submit your homework, take the following steps.

1. Save and commit this notebook.
2. Push your changes to GitHub.
3. Confirm that your changes are visible in GitHub.
4. Delete the codespace to avoid wasting your free quota.

The auto-grading process usually completes within a few minutes of pushing to GitHub, but occasionally can take several minutes to an hour.
If you submit your homework early enough, you may review the auto-grading results and fix any mistakes before the deadline.

## Problems

### Problem 1

Set `p1` to the name of your favorite animal.

In [3]:
# YOUR CHANGES HERE

p1 = 'dolphin'

In [4]:
p1

'dolphin'

### Problem 2

Set `p2` to the 3rd element of `q2`.

In [9]:
# DO NOT CHANGE

q2 = [2, 3, 5, 7, 11, 13, 17, 19, 23]

In [11]:
# YOUR CHANGES HERE

p2 = q2[2]

In [12]:
p2

5

### Problem 3

Set `p3` to the length of `q3`.

In [13]:
# DO NOT CHANGE

q3 = [iter for i in range(1000) if i % 5 == 0 and i % 4 == 0]

In [15]:
# YOUR CHANGES HERE

p3 = len(q3)

In [16]:
p3

50

### Problem 4

Set `p4` to the last element of `q4`.

In [17]:
# DO NOT CHANGE

q4 = [i for i in range(1000) if i % 5 != 0 and i % 3 != 0 and i % 2 != 0]

In [18]:
# YOUR CHANGES HERE

p4 = q4[-1]

In [19]:
p4

997

### Problem 5

Sort `p5` in reverse order.

In [20]:
# DO NOT CHANGE

p5 = [7, 1, 3, 6, 8, 123]

Hint: check the documentation for sort.

In [21]:
# YOUR CHANGES HERE

p5.sort(reverse=True)

In [22]:
p5

[123, 8, 7, 6, 3, 1]

### Problem 6

Set `p6` to be the last 3 elements of `q6`.

In [23]:
# DO NOT CHANGE

q6 = ["a", 3, "bc", 4, "def", 5, "ghij", 6]

In [24]:
# YOUR CHANGES HERE

p6 = q6[-3:]

In [25]:
p6

[5, 'ghij', 6]

### Problem 7

Set `p7` to be the number of distinct items in `q7`.

In [26]:
# DO NOT CHANGE

q7 = []
for p in [2, 3, 5, 7]:
    for i in range(10):
        q7.append(p * i)

In [27]:
# YOUR CHANGES HERE

p7 = len(set(q7))

In [28]:
p7

29

### Problem 8

Set `p8` to be the number of items in `q8a` that are also in `q8b`.

In [29]:
# DO NOT CHANGE

q8a = [1, 2, 3, 6, 98, 23, 24, 25, 26]

In [30]:
# DO NOT CHANGE

q8b = [26, 25, 24, 22, 5, 5, 5, 5, 5, 5]

In [31]:
# YOUR CHANGES HERE

p8 = len(set(q8a) & set(q8b))

In [32]:
p8

3

### Problem 9

Create a new dictionary `p9` from the dataset `q9` where each key represents a unique color and maps to a list of all dictionaries containing that color as their color key.

In [38]:
# DO NOT CHANGE

q9 = [{"color": "red", "score": 0.13},
      {"color": "blue", "score": 1.00},
      {"color": "green", "score": 0.64},
      {"color": "red", "score": 0.98},
      {"color": "blue", "score": 0.52},
      {"color": "violet", "score": 0.25}]

In [40]:
# YOUR CHANGES HERE

p9= dict(p9)

NameError: name 'p9' is not defined

In [ ]:
p9

### Problem 10

Examine the function `add_data_10` that organizes data into the dictionary `q10` and identify the key used to categorize the data within it.

In [41]:
# DO NOT CHANGE

q10 = {}

def add_data_10(row):
    if row['score'] < 0:
        return

    q10.setdefault(row['zipcode'], [])
    q10[row['zipcode']].append(row)

In [42]:
# YOUR CHANGES HERE

p10 = q10.setdefault(row['zipcode'], [])
q10[row['zipcode']].append(row)

NameError: name 'row' is not defined

In [ ]:
p10

### Problem 11

Write a function p11 taking one input $x$ and returning $x^2$.

In [44]:
# YOUR CHANGES HERE

def p11(x):
    return x ** 2

In [45]:
p11(0)

0

In [46]:
p11(1)

1

In [47]:
p11(2)

4

In [48]:
p11(10)

100

In [49]:
p11(11111)

123454321

### Problem 12

Write a function `p12` that returns "even" if the input is an even number, and "odd" if the input is an odd number. You may assume that the input is always an integer.

In [53]:
# YOUR CHANGES HERE

def p12(x):
   if x % 2 == 0

SyntaxError: expected ':' (ipython-input-1745113720.py, line 4)

In [ ]:
p12(0)

In [ ]:
p12(1)

In [ ]:
p12(100)

In [ ]:
p12(999)

### Problem 13

The following code calculates prime numbers less than 100 and stores them in `p13`, but `p13` was not initialized correctly.
Fix the initialization of `p13` with an appropriate data type.

In [56]:
# YOUR CHANGES HERE

p13 = []

In [57]:
# DO NOT CHANGE

for i in range(2, 100):
    for p in p13:
        if i % p == 0:
            break
    else:
        p13.append(i)

In [58]:
p13

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### Problem 14

Write a function `p14` that takes a list of integers and returns a new list containing only those integers that are divisible by 14.

In [59]:
# YOUR CHANGES HERE

def p14(ns):
      return [n for n in ns if n % 14 == 0]

In [60]:
p14([])

[]

In [61]:
p14([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

[0, 14]

### Problem 15

Write a function `p15` that takes in a dictionary as input, and returns `True` if "x" is in that dictionary and the value is 15, and `False` otherwise.

In [66]:
# YOUR CHANGES HERE

def p15(d):
    return d.get("x") == 15

In [67]:
p15({})

False

In [68]:
p15({"x": 15})

True

In [69]:
p15({"x": 16})

False

In [70]:
p15({"y": 15})

False

In [71]:
p15({"x": 15, "y": 15})

True

### Problem 16

Set `p16` to be $3.3^4$ (3.3 to the 4th power), rounded down to the nearest whole number.
Make sure it is an int, not a float.

In [72]:
# YOUR CHANGES HERE

p16 = int(3.3 ** 4 // 1)

In [73]:
p16

118

### Problem 17

Python has a built-in function `round` to round a number to a specified number of digits after the decimal point.

In [74]:
round(1.2345, 2)

1.23

Set `p17` to the result of rounding 1.1 + 2.2 to 1 digit after the decimal point.

In [75]:
# YOUR CHANGES HERE

p17 = round(1.1 + 2.2, 1)

In [76]:
p17

3.3

### Problem 18

Python has a built-in function `max` which will return its greatest input.

In [77]:
max(1, 2, 3, 4, 5)

5

Set `p18` to the maximum of $3^{25}$, $25^9$, and $1.1^{1000}$ using the built-in `max` function.

In [79]:
# YOUR CHANGES HERE

p18 = max(325, 259, 1.11000)

In [80]:
p18

325

### Problem 19

Set `p19` to the set of tuples in `q19` where the first entry is the string "red" or the second entry is "medium".

In [81]:
# DO NOT CHANGE

q19 = [("red", "long"),
       ("blue", "short"),
       ("red", "medium"),
       ("green", "tiny"),
       ("blue", "medium"),
       ("blue", "large")]

In [83]:
# YOUR CHANGES HERE

p19 = {t for t in q19 if t[0] == "red" or t[1] == "medium"}

In [84]:
p19

{('blue', 'medium'), ('red', 'long'), ('red', 'medium')}

### Problem 20

Write a function `p20` that takes in a dictionary as input returns True if all the values match their corresponding keys. For example, if the input was `{"hi": "hi"}`, then it should return `True`.

In [86]:
# YOUR CHANGES HERE

def p20(d):
    return all(k == v for k, v in d.items())

In [87]:
p20({})

True

In [88]:
p20({"x": "x"})

True

In [89]:
p20({"x": "x", "y": "y"})

True

In [90]:
p20({"x": "x", "y": "z"})

False